<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asbol</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-white fixed-top" id="ftco-navbar">
    <div class="container-fluid px-md-5">
      <a class="navbar-brand" href="/" > <img src="images/logo/LogoArtboard 1.png" class="img-fluid logo" alt=""></a>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="whoWeAre.html" class="nav-link">Who we are</a></li>
            <li class="nav-item"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">What we do</a></li>
            <li class="nav-item active"><a href="contact.html" class="nav-link">Contact Us</a></li>
        </ul>
      </div>
    </div>
	</nav>
    <!-- END nav -->


  <div id="home-section" class="hero-wrap " style="background-image: url('images/bg-header2.jpg');">
    <div class="overlay"></div>
    <div class="container-fluid px-md-5">
      <div class="row slider-text">
        <div class="col-12">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="sub-about pt-5" >
    <div class="container">
      <div class="row">
        <div class="col-12 ">
          <p>At ASBOL Limited, we believe that suporting our customers in any capacity is necessary for goal achievement hence we work collectively - No Boss, No Messenger</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact py-5">
    <div class="container">
      <div class="row mx-auto">
        <div class="col-md-5 offset-md-4 col-12">
          <form action="#" class=" p-5 contact-form" style="background-image: url('images/bg-header2.jpg');">
            <h5>Need to get in touch ? </h5>
            <div class="form-group">
              <select class="form-control" name="" id="">
                <option>Select</option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-light ">Submit</button>
          </form>
        </div>
     
      </div>
    </div>
  </section>


  <section class="py-5 address">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="address-book">
            <h3>Nigeria</h3>
            <p>
              <span>Office Address <span class="text-slant"> / </span> </span> 40 Ajose Street,Mende Maryland Lagos, Nigeria. <br>
              <span>Workshop Address <span class="text-slant"> /</span> </span> 3/4 Olufemi St Mowe Ogun State. <br>
              <span>Telephone <span class="text-slant"> / </span> </span> +234 805 617 0645
            </p>
          </div>
        </div>
        <div class="col-md-6 address-bg">
          <div class="address-book">
            <h3>Ghana</h3>
            <p><span>Office Address <span class="text-slant"> / </span> </span> 3 Kpepelenbi Link Dzorwulu Accra.</p>
            <p><span>Telephone <span class="text-slant"> / </span> </span> +233 248 625 906</p>
          </div>
        </div>
        <div class="col-md-6  address-bg">
          <div class="address-book">
            <h3>Cameroun</h3>
            <p><span>Office Address <span class="text-slant"> / </span> </span> Bp 664 Mapkepe Doula.</p>
            <p><span>Telephone <span class="text-slant"> / </span> </span> +237 652 155 582</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="address-book">
            <h3>Cote D`Voire</h3>
            <p><span>Office Address <span class="text-slant"> / </span> </span> Koumassi Marais Face Cite Sopim </p>
            <p><span>Telephone <span class="text-slant"> / </span> </span> +225 589 164 16</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer footer" style="background-image: url('images/foot.jpg');">
    <div class="overlay"></div>
    <div class="container">

      <div class="row">
        <div class="col-md-12 social-navs  mt-3">
          <a href=""> <span class="fa fa-facebook" aria-hidden="true"></span></a>
          <a href=""> <span class="fa fa-instagram" aria-hidden="true"></span></a>
          <a href=""> <span class="fa fa-twitter" aria-hidden="true"></span></a>
        </div>
      </div>

      

      <div class="row">
        <div class="col-12">
          <p>
             &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved  <a href="/" target="_blank"> Asbol Limited</a>
            </p>  
        </div>
      </div>
    </div>
  </footer>



  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/popper.js/dist/popper.min.js"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="./node_modules/stellar/index.js"></script>
  <script src="./node_modules/scrollax/scrollax.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>