<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intergenerational alliance</title>
    <link rel="stylesheet" href="{{ url_for( 'static' , filename= 'node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='css/styles.css') }}">
    
</head>
<body>

  <!-- Preloader Start -->
  <div id="preloader">
    <div class="loader">
        <span class="inner1"></span>
        <span class="inner2"></span>
        <span class="inner3"></span>
    </div>
  </div>

      <!-- Search Form Area -->
      <div class="fancy-search-form d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Close Btn -->
                    <div class="search-close-btn" id="closeBtn">
                      <i class="fa fa-window-close" aria-hidden="true"></i>
                    </div>
                    <!-- Form -->
                    <form action="#" method="get">
                        <input type="" name="fancySearch" id="search" placeholder="Enter Search">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-nabvarColor fixed-top" id="ftco-navbar">
    <div class="container-fluid px-md-5">
      <a class="navbar-brand" href="{{ url_for('main.index') }}" > <img src="{{ url_for('static', filename='images/logo/Logo-02.png')}}" class="img-fluid logo" alt=""></a>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="has-children  active">
            <a href="{{ url_for('main.index') }}" class="nav-link">About <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="dropdown">
              <li class="nav-item"><a href="{{ url_for('main.mission') }}" class="nav-link">Mission</a></li>
              <li class="nav-item"><a href="{{ url_for('main.financial') }}" class="nav-link">Financial Reports</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="{{ url_for('main.forum') }}" class="nav-link">Forums</a></li>
          <li class="has-children">
            <a href="{{ url_for('main.partners') }}" class="nav-link">Partners <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="dropdown">
            <li class="nav-item"><a hrefs="{{ url_for('main.artists') }}" class="nav-link">ARTISTS</a></li>
           <li class="nav-item"><a href="{{ url_for('main.aidrtwo') }}" class="nav-link">ARTIST IN DIGITAL RESIDENCE</a></li>
            <li class="nav-item"><a href="{{ url_for('main.donors') }}" class="nav-link">DONORS</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="{{ url_for('main.join') }}" class="nav-link">Join Us</a></li>
          <li class="nav-item"><a href="#" id="search-btn" class="nav-link"><i class="fa fa-search    "></i></a></li>
        </ul>
        
      </div>
    </div>
	</nav>
    <div class="container-fluid px-md-5">
      <a class="navbar-brand" href="index.html" > <img src="images/logo/Logo-02.png" class="img-fluid logo" alt=""></a>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="has-children">
                <a href="index.html" class="nav-link">About <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <ul class="dropdown">
                  <li class="nav-item"><a href="mission.html" class="nav-link">Mission</a></li>
                  <li class="nav-item"><a href="financial.html" class="nav-link">Financial Reports</a></li>
                </ul>
              </li>
          <li class="nav-item"><a href="forums.html" class="nav-link">Forums</a></li>
          <li class="has-children">
                <a href="partners.html" class="nav-link">Partners <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <ul class="dropdown">
                <li class="nav-item"><a href="artists.html" class="nav-link">ARTISTS</a></li>
               <li class="nav-item"><a href="AIDRtwo.html" class="nav-link">ARTIST IN DIGITAL RESIDENCE</a></li>
                <li class="nav-item drop_active "><a href="donors.html" class="nav-link">DONORS</a></li>
                </ul>
            </li>
          <li class="nav-item"><a href="join.html" class="nav-link">Join Us</a></li>
          <li class="nav-item"><a href="#" id="search-btn" class="nav-link"><i class="fa fa-search    "></i></a></li>
        </ul>
        
      </div>
    </div>
	</nav>
  <!-- END nav -->

    <section class="AIDR pt-80 pt-100">
        <div class="container">
           <div class="text-3d">COMING SOON</div>
        </div>
    </section>


 

    <!-- <footer class="site-footer footer PY-5">
        <div class="container">
          <div class=" line-top"></div>
          <div class="row">
    
            <div class="col-md-6 social-navs  mt-3">
              <div class="d-flex">
                <div class="">
                  <a class="mr-5" href="index.html" > <img src="images/logo/smallLogo.png" class="img-fluid " alt=""></a>
                </div>
                <div class="social-navs">
                  <a href="index.html">About</a>
                  <a href="forums.html">Forums</a>
                  <a href="partners.html">Partners</a>
                  <a href="join.html">Join Us</a>
    
                </div>
              </div>
    
            </div>
            <div class="col-md-6 social-navs mt-3">
              <p>Follow Us</p>
              <a href=""> <span class="fa fa-facebook fa-font" aria-hidden="true"></span></a>
              <a href=""> <span class="fa fa-instagram fa-font" aria-hidden="true"></span></a>
              <a href=""> <span class="fa fa-twitter fa-font" aria-hidden="true"></span></a>
              <a href=""><span  class="fa fa-youtube-play fa-font" aria-hidden="true"></span></a>
            </div>
          </div>
          <div class="row copyright">
                    <div class="col-md-12 text-center">
                    <p> <strong> Copyright &copy; <script>document.write(new Date().getFullYear());</script> Intergenerational Alliance. All Rights Reserved.</strong></p>
                    </div>
                </div>
        </div>
      </footer> -->

  <script src="{{ url_for('static' , filename='./node_modules/jquery/dist/jquery.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/popper.js/dist/popper.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/bootstrap/dist/js/bootstrap.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/owl.carousel.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.magnific-popup.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/stellar/index.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/scrollax/scrollax.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.fancybox.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/main.js' ) }}"></script>
  
</body>
</html>