<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intergenerational alliance</title>
    <link rel="stylesheet" href="{{ url_for( 'static' , filename= 'node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename= 'node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='css/styles.css') }}">
    
</head>
<body>

  <!-- Preloader Start -->
  <div id="preloader">
    <div class="loader">
        <span class="inner1"></span>
        <span class="inner2"></span>
        <span class="inner3"></span>
    </div>
  </div>

      <!-- Search Form Area -->
      <div class="fancy-search-form d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Close Btn -->
                    <div class="search-close-btn" id="closeBtn">
                      <i class="fa fa-window-close" aria-hidden="true"></i>
                    </div>
                    <!-- Form -->
                    <form action="#" method="get">
                        <input type="" name="fancySearch" id="search" placeholder="Enter Search">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

  <nav class="navbar navbar-expand-lg bg-nabvarColor fixed-top" id="ftco-navbar">
    <div class="container-fluid px-md-5">
      <a class="navbar-brand" href="{{ url_for('main.index') }}" > <img src="{{ url_for('static', filename='images/logo/Logo-02.png')}}" class="img-fluid logo" alt=""></a>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="has-children  active">
            <a href="{{ url_for('main.index') }}" class="nav-link">About <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="dropdown">
              <li class="nav-item"><a href="{{ url_for('main.mission') }}" class="nav-link">Mission</a></li>
              <li class="nav-item"><a href="{{ url_for('main.financial') }}" class="nav-link">Financial Reports</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="{{ url_for('main.forum') }}" class="nav-link">Forums</a></li>
          <li class="has-children">
            <a href="{{ url_for('main.partners') }}" class="nav-link">Partners <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="dropdown">
            <li class="nav-item"><a href="{{ url_for('main.artists') }}" class="nav-link">ARTISTS</a></li>
           <li class="nav-item"><a href="{{ url_for('main.aidrtwo') }}" class="nav-link">ARTIST IN DIGITAL RESIDENCE</a></li>
            <li class="nav-item"><a href="{{ url_for('main.donors') }}" class="nav-link">DONORS</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="{{ url_for('main.join') }}" class="nav-link">Join Us</a></li>
          <li class="nav-item"><a href="#" id="search-btn" class="nav-link"><i class="fa fa-search    "></i></a></li>
        </ul>
        
      </div>
    </div>
	</nav>
  <!-- END nav -->

  <section class="sub-about py-5" >
    <div class="container">
      <div class="row mx-auto">
        <div class="col-12">
          <p>The Intergenerational Alliance was formed to foster bottom-up dialogue between young and old, rich and poor, and across genders on various matters affecting Nigerian society and its state. Intergenerational Alliance forums bring together small groups of Nigerians from across the generational divide, from all walks of life, religious backgrounds, and ethnicities, to talk about the past, present, and future of our home, Nigeria. We believe in conversation. We believe in genuine and complex communication that bridges division, increases understanding, and unites us in communal purpose. We believe that for the benefit of our future, it is essential to dialogue.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="mouseTeam py-5 py-lg-5" >
    <div class="container">
      <div class="row text-center">
        <div class="col-12 mx-auto">
          <a href="https://intalliance.herokuapp.com/#navId" class="mouse" data-spy="scroll" data-target="#navId">
            <span class="mouse-icon">
              <span class="mouse-wheel">
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  

  <section class="ourTeam text-center p-team" id="navId">
    <div class="container mx-auto pt-lg-5">
      <div class="row">
        <div class="col-md-6 text-center mt-5">
          <img src="{{ url_for('static' , filename='images/soyemi_pics.png' ) }}" alt="" class="img-fluid" width="300px">
          <div class="team-name mt-5 mb-4">
            <h4>ENIOLA</h4>
          </div>
          <div class="teamOneText m-auto mb-5">
            <p class="m-auto">
              Dr. Ẹniọlá Ànúolúwapọ́ Ṣóyẹmí is a political theorist whose academic research specialises in theories and practices of deliberation, the nature of freedom, and the nature of legitimate authority. Over the last 10 years, Ẹniọlá's work has focused on making the historical and contemporary socio-legal and political experiences of Nigeria, and the wider African continent, influential to mainstream discourses in political theory. Her field research has involved working in Lagos, Nigeria in partnership with LAMATA
              <br><br>
              Prior to entering academia, she worked at Chatham House and at the UK Guardian's Lobby Office in the House of Commons. She holds a Ph.D. in Political Science from Boston University and an MSc. in International Public Policy from University College London. She has recently been a Max Weber Fellow and a Visiting Fellow at the European University Institute.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center mt-5">
          <img src="{{ url_for('static', filename='images/oyinkan_pics.png' ) }}" alt="" class="img-fluid" width="300px">
          <div class="team-name mt-5 mb-4">
            <h4>OYINKAN</h4>
          </div>
          <div class="teamOneText m-auto mb-5">
            <p class="m-auto">
              Oyinkan Akintola-Bello is a public interest technologist who works at the intersection of governance and technology. With an undergraduate education from Bristol University in Law and a Master’s degree in Conflict Conflict, Security and Development from the University of Sussex her expertise spans working with governments to innovate and improve service delivery to supporting startups with advisory on policy decisions
              <br><br>
              For her it is important that citizens have a voice in how their affairs are managed, this informs the work she does around data privacy and digital rights
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="site-footer pt-5 ">
    <div class="container">
        <div class="line-top"></div>
        <div class="row text-center">
            <div class="col-md-4"> <a href="" class="m-0 site-logo"><img src="{{ url_for('static' , filename='images/logo/smallLogo.png' ) }}" width="80px"  alt=""></a> </div>
            <div class="col-md-4">
                <ul class="footer-link">
                    <li><a href="{{ url_for('main.index') }}">About</a></li>
                    <li><a href="{{ url_for('main.forum') }}">Forums</a></li>
                    <li><a href="{{ url_for('main.partners') }}">Partners</a></li>
                    <li><a href="{{ url_for('main.join') }}">Join Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="footer-link">
                    <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                   
                </ul>
            </div>
            
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Intergenerational Alliance. All Rights Reserved</p>
            </div>
        </div>
    </div>
    <!-- footer ends  -->
</div>


  <script src="{{ url_for('static' , filename='./node_modules/jquery/dist/jquery.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/popper.js/dist/popper.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/bootstrap/dist/js/bootstrap.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/owl.carousel.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.magnific-popup.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/stellar/index.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='./node_modules/scrollax/scrollax.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.fancybox.min.js' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/easing.min' ) }}"></script>
  <script src="{{ url_for('static' , filename='js/main.js' ) }}"></script>
  <!-- <script>
    $('.mouse-team').scrollspy({
      target: '#navId'
    });
  </script> -->
</body>
</html>