<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asbol</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-white fixed-top" id="ftco-navbar">
    <div class="container-fluid px-md-5">
      <a class="navbar-brand" href="/" > <img src="images/logo/LogoArtboard 1.png" class="img-fluid logo" alt=""></a>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="whoWeAre.html" class="nav-link">Who we are</a></li>
            <li class="nav-item active"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">What we do</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
        </ul>
      </div>
    </div>
	</nav>
    <!-- END nav -->


  <div id="home-section" class="hero-wrap " style="background-image: url('images/bg-header2.jpg');">
    <div class="overlay"></div>
    <div class="container-fluid px-md-5">
      <div class="row slider-text">
        <div class="col-12 col-md-6">
          <h1>Our Portfolio</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="sub-about pt-5" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>At ASBOL Limited, we believe that suporting our customers in any capacity is necessary for goal achievement hence we work collectively - No Boss, No Messenger</p>
        </div>
      </div>
    </div>
  </section>

   <section class="py-5">
      <div class="container-fluid text-center">
        <div class="row mx-auto">
          <div class="col-md-6 mb-5">
            <div class="d-block d-lg-flex">
              <img src="images/IMG_1171.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1170.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto">
            <div class="port-textArea">
              <h3>80kw Solar Project</h3>
            </div>
          </div>
          <div class="col-md-6 mb-5 order-md-2">
            <div class=" d-block d-lg-flex">
              <img src="images/IMG_1172.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1173.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto order-md-1">
            <div class="port-textArea ">
              <h3>Solar and Hybrid Installations</h3>
            </div>
          </div>
        </div>
        <div class="row mx-auto text-center">
          <div class="col-md-6 mb-5">
            <div class=" d-block d-lg-flex">
              <img src="images/IMG_1174.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1175.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto">
            <div class="port-textArea">
              <h3>Solar Traffic Light Abuja</h3>
            </div>
          </div>
          <div class="col-md-6 mb-5  order-md-2">
            <div class=" d-block d-lg-flex">
              <img src="images/IMG_1172.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1173.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto order-md-1">
            <div class="port-textArea ">
              <h3>Civil Works</h3>
            </div>
          </div>
        </div>
        <div class="row mx-auto text-center">
          <div class="col-md-6 mb-5">
            <div class=" d-block d-lg-flex">
              <img src="images/IMG_1167.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1168.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto">
            <div class="port-textArea">
              <h3>Gsm Site Construction</h3>
            </div>
          </div>
          <div class="col-md-6 mb-5  order-md-2">
            <div class=" d-block d-lg-flex">
              <img src="images/IMG_1165.png" alt="portfolio" class="img-fluid">
              <img src="images/IMG_1166.png" alt="portfolio" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 mb-5 my-auto order-md-1">
            <div class="port-textArea ">
              <h3>NOKIA RAN Installation, Commissioning and Integration</h3>
            </div>
          </div>
        </div>
      </div>
   </section>


  <section class="client-area py-5">
    <div class="container text-center">
      <div class="section-title ">
        <h3>Our Clients</h3>
        <span>Our clientele contains some of the most innovative companies in the world</span>
      </div>
      <div class="row text-center mx-auto">
        <div class="col-md-2 col-6 ">
          <a href="#">
            <img class="img-fluid" src="images/client1.png" alt="">
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#">
            <img class="img-fluid" src="images/client2.png" alt="">
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#">
            <img class="img-fluid" src="images/client3.png" alt="">
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#">
            <img class="img-fluid" src="images/client4.png" alt="">
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#">
            <img class="img-fluid" src="images/client5.png" alt="">
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#">
            <img class="img-fluid" src="images/client6.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section py-5" id="reviews-section">
    <div class="container text-center">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Valuable Testimonies</h2>
          <div class="sub-heading">
              <h5 class="text-muted">See what people say about us</h5>
          </div>
        </div>
      </div>
      <div class="owl-carousel slide-one-item">
        <div class="slide">
          <figure>
            <div class="img-border">
              <img src="images/review-img.png" alt="Image" class="img-fluid rounded-circle mx-auto">
            </div>
          </figure>
          <blockquote>
              <h5>Jhon Wick, New York</h5>
            <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto voluptate eaque aliquam exercitationem voluptas fuga nulla, eos odio doloremque cum voluptatum dolores repellat, commodi praesentium ad obcaecati dolorum magnam nisi!</p>
          </blockquote>
        </div>
        <div class="slide">
          <figure>
            <div class="img-border">
              <img src="images/review-img.png" alt="Image" class="img-fluid rounded-circle mx-auto">
            </div>
          </figure>
          <blockquote>
              <h5>Jhon Wick, New York</h5>
            <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto voluptate eaque aliquam exercitationem voluptas fuga nulla, eos odio doloremque cum voluptatum dolores repellat, commodi praesentium ad obcaecati dolorum magnam nisi!</p>
          </blockquote>
        </div>
        <div class="slide">
          <figure>
            <div class="img-border">
              <img src="images/review-img.png" alt="Image" class="img-fluid rounded-circle mx-auto">
            </div>
          </figure>
          <blockquote>
              <h5>Jhon Wick, New York</h5>
            <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto voluptate eaque aliquam exercitationem voluptas fuga nulla, eos odio doloremque cum voluptatum dolores repellat, commodi praesentium ad obcaecati dolorum magnam nisi!</p>
          </blockquote>
        </div>
      </div>

    </div>
  </section>

  <footer class="site-footer footer" style="background-image: url('images/foot.jpg');">
    <div class="overlay"></div>
    <div class="container">

      <div class="row">
        <div class="col-md-12 social-navs  mt-3">
          <a href=""> <span class="fa fa-facebook" aria-hidden="true"></span></a>
          <a href=""> <span class="fa fa-instagram" aria-hidden="true"></span></a>
          <a href=""> <span class="fa fa-twitter" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
             &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved  <a href="/" target="_blank"> Asbol Limited</a>
            </p>  
        </div>
      </div>
    </div>
  </footer>



  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/popper.js/dist/popper.min.js"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="./node_modules/stellar/index.js"></script>
  <script src="./node_modules/scrollax/scrollax.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>