<!doctype html>
<html lang="en">

<head>
    <title>NGO ADMIN</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet"
        href=" {{ url_for ( 'static', filename='admin/css/fontawesome-free-5.0.1/css/fontawesome-all.css') }}   ">
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='admin/css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top bg-nav">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">App Name</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mx-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('admin.index_dashboard') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.mission_dashboard') }}">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.financial_dashboard') }}">Financial Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.partners_dashboard') }}">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.forums_dashboard') }}">Forums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.aidr_dashboard')}}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.donors_dashboard') }}">Donors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-5 dash-title">ABOUT PAGE</h2>

            <div id="testing"></div>

            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae nobis, recusandae, quibusdam rem
                molestiae veritatis ipsam magnam exercitationem debitis nemo numquam ut! Beatae nemo quas commodi odio
                fugit eaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam magnam vel dolorum ipsa
                quansectetur adipisicing elit. Nisi id vel natus, aut corrupti sit animi quo, aspernatur excepturi
                debitis officia! Deleniti sapiente illo quos itaque, rerum recusandae accusantium iste.</p>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#headerModal"> <i
                    class="fas fa-edit"></i> Edit Text </button>
        </div>
    </main>

    <div class="container">
        <h2 class="mt-5  dash-title">THE TEAM</h2>
        <div class="row">
            <div class="d-md-flex d-block mb-5">
                <div class="image-flex">
                    <img src="img/soyemi_pics.png" alt="" class="img-fluid" width="450px">
                </div>
                <div class="text-flex px-4">
                    <div class="d-block d-md-flex justify-content-between">
                        <h5 class="mb-2">ENIOLA</h5>
                        <button type="button" class="btn btn-dark btn-sm mb-2"> <i class="fas fa-edit"></i> Edit Profile
                        </button>
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati minima omnis est culpa fugit
                        autem dolore totam laudantium iure, tempore illum voluptates? Nihil impedit commodi illum est
                        vitae nam labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, beatae? Molestias
                        ab debitis tempore similique harum aut illo. Magni dolor inventore, sint mollitia illo velit
                        autem magnam at possimus doloremque, dolore molestiae consectetur?</p>
                </div>
            </div>
            <div class="d-md-flex d-block mb-5">
                <div class="image-flex">
                    <img src="img/oyinkan_pics.png" alt="" class="img-fluid" width="450px">
                </div>
                <div class="text-flex px-4">
                    <div class="d-block d-md-flex justify-content-between">
                        <h5 class="mb-2">OYINKAN</h5>
                        <button type="button" class="btn btn-dark btn-sm mb-2"> <i class="fas fa-edit"></i> Edit Profile
                        </button>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur . Obcaecati minima omnis est culpa fugit autem dolore
                        totam laudantium iure, tempore illum voluptates? Nihil impedit commodi illum est vitae nam
                        labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, beatae? Molestias ab
                        debitis tempore similique harum aut illo. Magni dolor inventore, sint mollitia illo velit autem
                        magnam at possimus doloremque, dolore molestiae consectetur?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="/application/static/videos/NADECO_1.mp4"></div>


    <!--Modals  -->

    <!-- Modal1 -->
    <div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="signIn-inputs">
                            <form action="" id="" method="post">
                                <div class="form-group mb-3">
                                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                                </div>

                                <div class="signIn-btn text-center">
                                    <button name="" type="submit" id="" class="btn btn-lg btn-modal"
                                        role="button">PUBLISH</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="{{ url_for('static' , filename='admin/js/jquery-3.6.0.min.js' ) }} "></script>
    <script src="{{ url_for('static' , filename='admin/js/popper.js' ) }}     "></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
    <script src="{{ url_for('static' , filename='admin/js/main.js' ) }}    "></script>
    <script>
        $.ajax({
            type: "GET",
            url: "{{ url_for('api.team') }}",
            // crossDomain: true,
            contentType: ' application/json',
            encode: true,
            success: function (data) {
                data.forEach(function (item) {
                    console.log(item.profile)
                })
            }
        })
    </script>
</body>

</html>